<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [ ]:
# import required libraries
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [ ]:
# your code here
path = ('/content/drive/MyDrive/[01] Data Analytics - IronHack/[06] Courses/Week 3/Day 13 - Wednesday/[LAB 29] - Dataframe Calculations/Orders.csv')
orders = pd.read_csv(path)
display(orders.head())

# dropping the first column UNNAMED: 0 cause duh..
orders = orders.drop(orders.columns[0], axis=1)
display(orders.head())

orders.info()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     397924 non-null  int64
 1   StockCode     397924 non-null  object
 2   year          397924 non-null  int64
 3   month         397924 non-null  int64
 4   day           397924 non-null  int64
 5   hour          397924 non-null  int64
 6   Description   397924 non-null  object
 7   Quantity      397924 non-null  int64
 8   InvoiceDate   397924 non-null  object
 9   UnitPrice     397924 non-null  float64
 10  CustomerID    397924 non-null  int64
 11  Country       397924 non-null  object
 12  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(7), object(4)
memory usage: 39.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [ ]:
# your code here
# --------------

# total amount_spent per customer
print("SUB PROBLEM 1 : SUM SPENT PER CUSTOMER")
TotalSpent = orders.groupby("CustomerID")["amount_spent"].sum()
display(TotalSpent.to_frame())

SUB PROBLEM 1 : SUM SPENT PER CUSTOMER

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [ ]:
# customers above 95th percentile and between 75th and 95th percentile
print("SUB PROBLEM 2 : IDENTIFY CUSTOMER STATUS\n")

vip = TotalSpent.quantile(0.95) # 95% of the data is below the result
preffered = TotalSpent.quantile(0.75) # 75% of the data is below the result

print(f"95th PERCENTILE CORRESPONDS TO A TOTAL AMOUNT SPENT OF {float(vip)}")
print(f"BETWEEN 75th AND 95th PERCENTILE CORRESPONDS TO A TOTAL AMOUNT SPENT OF {float(preffered)}")

# filter customers based on quantile ranges
vipCustomers = TotalSpent[TotalSpent >= float(vip)]
preferredCustomers = TotalSpent[(TotalSpent >= float(preffered)) & (TotalSpent < float(vip))]

display(vipCustomers.to_frame())
print(f"VIP CUSTOMERS")

print("\n")

display(preferredCustomers.to_frame())
print(f"PREFERRED CUSTOMERS")

SUB PROBLEM 2 : IDENTIFY CUSTOMER STATUS

95th PERCENTILE CORRESPONDS TO A TOTAL AMOUNT SPENT OF 5840.181999999982
BEWTEEN 75th AND 95th PERCENTILE CORRESPONDS TO A TOTAL AMOUNT SPENT OF 1661.64

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53
...                  ...
18109            8052.97
18139            8438.34
18172            7561.68
18223            6484.54
18229            7276.90

[217 rows x 1 columns]

VIP CUSTOMERS

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

PREFERRED CUSTOMERS

In [ ]:
# customers above 95th percentile and between 75th and 95th percentile
print("SUB PROBLEM 3 : LABEL CUSTOMERS BASED ON TOTAL AMOUNT SPENT\n")

# function that sets customer staus based on the quantile thresholds
def customerLabel(spend):
    if spend >= float(vip):
        return "VIP"
    elif spend >= float(preffered):
        return "Preferred"
    else:
        return "Regular"

# apply function to TotalSpent Series or DataFrame
CustomerStatus = TotalSpent.apply(customerLabel)
display(CustomerStatus.to_frame())
print(f"CUSTOMER STATUS PER CUSTOMER ID\n")

# create new DataFrame with CustomerID and CustomerStatus columns
CustomerStatus_df = pd.DataFrame(CustomerStatus).reset_index().rename(columns={"amount_spent": "CustomerStatus"})

# merge CustomerStatus_df with the original"'order"' DataFrame
OrderInfo = orders.merge(CustomerStatus_df, on="CustomerID")

# show result
display(OrderInfo.head())
print(f"CustomerStatus COLUMN ADDED TO THE ORIGINAL ORDERS DATAFRAME WITH THE MATCHING STATUS")

SUB PROBLEM 3 : LABEL CUSTOMERS BASED ON TOTAL AMOUNT SPENT

           amount_spent
CustomerID
12346               VIP
12347         Preferred
12348         Preferred
12349         Preferred
12350           Regular
...                 ...
18280           Regular
18281           Regular
18282           Regular
18283         Preferred
18287         Preferred

[4339 rows x 1 columns]

CUSTOMER STATUS PER CUSTOMER ID

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,CustomerStatus
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred

CustomerStatus COLUMN ADDED TO THE ORIGINAL ORDERS DATAFRAME WITH THE MATCHING STATUS

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here
Method1 = OrderInfo.loc[OrderInfo["CustomerStatus"] == "VIP"][["CustomerStatus", "Country"]].value_counts().sort_values(ascending=False).to_frame()
Method2 = OrderInfo.loc[OrderInfo["CustomerStatus"] == "VIP"][["Country", "CustomerStatus"]].value_counts().sort_values(ascending=False).to_frame()

print(f"METHOD 1")
display(Method1)

print(f"\nMETHOD 2")
display(Method2)

# if we only want to show THE country that has tHE MOST VIP customers
print(f"\nIf we only want to show THE country that has THE MOST VIP customers\n")

print(f"METHOD 1")
display(Method1.head(1))

print(f"\nMETHOD 2")
display(Method2.head(1))

METHOD 1

                                    0
CustomerStatus Country
VIP            United Kingdom   84185
               EIRE              7077
               France            3290
               Germany           3127
               Netherlands       2080
               Australia          898
               Portugal           681
               Switzerland        594
               Spain              511
               Norway             420
               Channel Islands    364
               Finland            294
               Cyprus             248
               Singapore          222
               Japan              205
               Sweden             198
               Belgium             54
               Denmark             36

METHOD 2

                                    0
Country         CustomerStatus
United Kingdom  VIP             84185
EIRE            VIP              7077
France          VIP              3290
Germany         VIP              3127
Netherlands     VIP              2080
Australia       VIP               898
Portugal        VIP               681
Switzerland     VIP               594
Spain           VIP               511
Norway          VIP               420
Channel Islands VIP               364
Finland         VIP               294
Cyprus          VIP               248
Singapore       VIP               222
Japan           VIP               205
Sweden          VIP               198
Belgium         VIP                54
Denmark         VIP                36

If we only want to show THE country that has THE MOST VIP customers

METHOD 1

                                   0
CustomerStatus Country
VIP            United Kingdom  84185

METHOD 2

                                   0
Country        CustomerStatus
United Kingdom VIP             84185

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here
# --------------

# isolate concerned statuses so we're tranquil xD
CustomerCombo = OrderInfo.loc[(OrderInfo["CustomerStatus"] == "VIP") | (OrderInfo["CustomerStatus"] == "Preferred")]

# check if eveything went well as planned so we won't look stupid moving forward
print(f"CUSTOMER STATUSES/LABELS PRESENT IN OUR CustomerCombo DATA : {CustomerCombo.CustomerStatus.unique()}")
print("-" * 96)

# count VIP and Preffered customers combined epr country
TopCountry = CustomerCombo.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False)
display(TopCountry.to_frame().head(1))

# dedicated result
print(f"\nCOUNTRY WITH THE MOST VIP AND PREFFERED CUSTOMERS COMBINED IS {TopCountry.index[0]} WITH A TOTAL OF {TopCountry.iloc[0]}")
print("-" * 96)

# full overview of all countries
print(f"\nFULL VIEW (IF YOU'RE CURIOUS, WHICH YOU ALWAYS SHOULD :P)")
display(TopCountry.to_frame())

CUSTOMER STATUSES/LABELS PRESENT IN OUR CustomerCombo DATA : ['Preferred' 'VIP']
------------------------------------------------------------------------------------------------

                CustomerID
Country
United Kingdom         932

COUNTRY WITH THE MOST VIP AND PREFFERED CUSTOMERS COMBINED IS United Kingdom WITH A TOTAL OF 932
------------------------------------------------------------------------------------------------

FULL VIEW (IF YOU'RE CURIOUS, WHICH YOU ALWAYS SHOULD :P)

                 CustomerID
Country
United Kingdom          932
Germany                  39
France                   29
Belgium                  12
Switzerland               9
Spain                     9
Portugal                  7
Norway                    7
Italy                     5
Finland                   5
Japan                     4
Australia                 4
Cyprus                    4
Channel Islands           4
Austria                   3
EIRE                      3
Denmark                   3
Sweden                    2
Israel                    2
Iceland                   1
Greece                    1
Lebanon                   1
Malta                     1
Netherlands               1
Poland                    1
Singapore                 1
Canada                    1