<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 2</a></span><ul class="toc-item"><li><span><a href="#Problem-Solving-Iteration-1" data-toc-modified-id="Problem-Solving-Iteration-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Problem Solving Iteration 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed." data-toc-modified-id="The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed.-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>The <code>Total</code> field is computed based on <code>HP</code>, <code>Attack</code>, <code>Defense</code>, <code>Sp. Atk</code>, <code>Sp. Def</code>, and <code>Speed</code>.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-2" data-toc-modified-id="Problem-Solving-Iteration-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Problem Solving Iteration 2</a></span><ul class="toc-item"><li><span><a href="#Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?" data-toc-modified-id="Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Which pokemon type is most likely to have the highest <code>Total</code> value?</a></span><ul class="toc-item"><li><span><a href="#Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type." data-toc-modified-id="Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type.-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span><code>Type 1</code> and <code>Type 2</code> string variables need to be converted to numerical variables in order to identify the relationship between <code>Total</code> and the pokemon type.</a></span></li><li><span><a href="#How-to-convert-two-string-variables-to-numerical?" data-toc-modified-id="How-to-convert-two-string-variables-to-numerical?-1.2.1.2"><span class="toc-item-num">1.2.1.2&nbsp;&nbsp;</span>How to convert two string variables to numerical?</a></span></li><li><span><a href="#In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create." data-toc-modified-id="In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create.-1.2.1.3"><span class="toc-item-num">1.2.1.3&nbsp;&nbsp;</span>In the next cell, use One Hot Encoding to encode <code>Type 1</code> and <code>Type 2</code>. Use the pokemon type values as the names of the numerical fields you create.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-3" data-toc-modified-id="Problem-Solving-Iteration-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Problem Solving Iteration 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations." data-toc-modified-id="There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations.-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>There are relationships between <code>Total</code> and the encoded pokemon type variables and we need to identify the correlations.</a></span></li><li><span><a href="#How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?" data-toc-modified-id="How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>How to identify the relationship between <code>Total</code> and the encoded pokemon type fields?</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Bonus-Question" data-toc-modified-id="Bonus-Question-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus Question</a></span></li></ul></div>

# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# import libraries
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Importing the dataset from Ironhack's database
path = ('/content/drive/MyDrive/[01] Data Analytics - IronHack/[06] Courses/Week 3/Day 13 - Wednesday/[LAB 29] - Dataframe Calculations/Pokemon.csv')
pokemon = pd.read_csv(path)
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# check data first before anything so we won't do anything stupid
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
# your code here
# --------------

# making a copy of pokemon dataframe while only keeping the concerned columns, cause we never know..
variables = pokemon.iloc[:, 5:11].copy()
display(variables.head())
print(f"Making a copy of pokemon dataframe while only keeping the concerned columns, cause we never know..")

print("\n")

# creating a new column called HYPOTHESIS to test if our theory was right
variables["Hypothesis"] = variables.sum(axis=1)
display(variables.head())
print(f"Creating a new column called Hypothesis to test if our theory was right")

print("\n")

# go the extra mile because we're awesome, and create a new column called is_Match to confirm if the formula works for all pokemon
variables["is_Match"] = variables["Hypothesis"].isin(pokemon["Total"]).replace({True: "Yes", False: "No"})
display(variables.head())
print(f"Go the extra mile because we're awesome, and create a new column called is_Match to confirm if the formula works for all pokemon")

print("\n")

# count the number of matches
print(f"\nNumber of rows in our pokemon data : {len(pokemon)}")
print(f"Number of rows in our variables data : {len(variables)} (it shouldn't change from the pokemon data)")
print(f"Therefore, we should have {len(pokemon)} matches if our theory was right!\n")
display(variables["is_Match"].value_counts().to_frame())

print("\n")

# automate results
if len(variables.loc[variables["is_Match"] == "Yes"]) == len(pokemon):
    print("RESULT : Yeah, Total is just a sum of all those columns")
else:
    print("RESULT : Ha, dang it..")

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  45      49       49       65       65     45
1  60      62       63       80       80     60
2  80      82       83      100      100     80
3  80     100      123      122      120     80
4  39      52       43       60       50     65

Making a copy of pokemon dataframe while only keeping the concerned columns, cause we never know..

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Hypothesis
0  45      49       49       65       65     45         318
1  60      62       63       80       80     60         405
2  80      82       83      100      100     80         525
3  80     100      123      122      120     80         625
4  39      52       43       60       50     65         309

Creating a new column called Hypothesis to test if our theory was right

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Hypothesis is_Match
0  45      49       49       65       65     45         318      Yes
1  60      62       63       80       80     60         405      Yes
2  80      82       83      100      100     80         525      Yes
3  80     100      123      122      120     80         625      Yes
4  39      52       43       60       50     65         309      Yes

Go the extra mile because we're awesome, and create a new column called is_Match to confirm if the formula works for all pokemon



Number of rows in our pokemon data : 800
Number of rows in our variables data : 800 (it shouldn't change from the pokemon data)
Therefore, we should have 800 matches if our theory was right!

     is_Match
Yes       800

RESULT : Yeah, Total is just a sum of all those columns

Comment: Yeah, Total is just a sum of all those columns

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
# your code here
# --------------

# encode Type 1 and visualize
type1_encoded = pd.get_dummies(pokemon['Type 1'])
display(type1_encoded.head())
print("TYPE 1")

# encode Type 2 and visualize
type2_encoded = pd.get_dummies(pokemon['Type 2'])
display(type2_encoded.head())
print("TYPE 2")

# fuse both types in a single dataframe and treat NaN values as 0
combined_types = type1_encoded.add(type2_encoded, fill_value=0)
display(combined_types.head())
print("COMBINED TYPES\n")

print("-" * 111)
print("""
NOTE TO READERS :
\n
In pandas, the axis parameter is used to specify the direction of an operation across the DataFrame.
The two possible values for axis are 0 and 1:

axis=0: This represents the vertical axis,
        meaning the operation will be performed along the index (rows).

When you use axis=0, you are telling pandas to apply the operation to each column individually, along the rows.
In other words, the operation will be performed column-wise.
This is the default value for most pandas operations.

axis=1: This represents the horizontal axis,
        meaning the operation will be performed along the columns (column-wise).
        
When you use axis=1, you are telling pandas to apply the operation to each row individually, along the columns.
In other words, the operation will be performed row-wise.

KATRINA J, Author.
""")
print("-" * 111 + "\n")

# join original data with the encoded data
print("POKEMON DATA CONCATENATED WITH ENCODED DATA")
pokemon_encoded = pd.concat([pokemon[["Type 1", "Type 2"]], combined_types], axis=1)
display(pokemon_encoded)

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

TYPE 1

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

TYPE 2

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

COMBINED TYPES

---------------------------------------------------------------------------------------------------------------

NOTE TO READERS :


In pandas, the axis parameter is used to specify the direction of an operation across the DataFrame.
The two possible values for axis are 0 and 1:

axis=0: This represents the vertical axis,
        meaning the operation will be performed along the index (rows).

When you use axis=0, you are telling pandas to apply the operation to each column individually, along the rows.
In other words, the operation will be performed column-wise.
This is the default value for most pandas operations.

axis=1: This represents the horizontal axis,
        meaning the operation will be performed along the columns (column-wise).

When you use axis=1, you are telling pandas to apply the operation to each row individually, along the columns.
In other words, the operation will be performed row-wise.

KATRINA J, Author.

---------------------------------------------------------------------------------------------------------------

POKEMON DATA CONCATENATED WITH ENCODED DATA

,Type 1,Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,Grass,Poison,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,Grass,Poison,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,Grass,Poison,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,Grass,Poison,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,Fire,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Rock,Fairy,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
796,Rock,Fairy,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
797,Psychic,Ghost,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
798,Psychic,Dark,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,Fire,Water,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [6]:
print("""
NOTE TO READERS :

ON USING CORRELATION IN PANDAS

The Pearson correlation coefficient ranges from -1 to 1,
with -1 indicating a perfect negative linear relationship,
1 indicating a perfect positive linear relationship, and 0 indicating no linear relationship.

Here's a general interpretation of correlation values:

- Close to -1: Strong negative linear relationship.
- Close to 0: No or very weak linear relationship.
- Close to 1: Strong positive linear relationship.

To interpret the correlations between the "Total" column and the encoded Pokémon type fields,
you can refer to the correlation values:

- POSITIVE CORRELATION:
Indicates that when the Pokémon type value increases, the "Total" value tends to increase as well.

- NEGATIVE CORRELATION:
Indicates that when the Pokémon type value increases, the "Total" value tends to decrease.

- CLOSE TO ZERO:
Indicates that there's little or no linear relationship between the Pokémon type and the "Total" value.

PLEASE NOTE THAT CORRELATION DOES NOT IMPLY CAUSATION.
A high correlation between two variables means that they tend to move together,
but it does not necessarily mean that one causes the other.

KATRINA J, Author.
""")

NOTE TO READERS :

ON USING CORRELATION IN PANDAS

The Pearson correlation coefficient ranges from -1 to 1,
with -1 indicating a perfect negative linear relationship,
1 indicating a perfect positive linear relationship, and 0 indicating no linear relationship.

Here's a general interpretation of correlation values:

- Close to -1: Strong negative linear relationship.
- Close to 0: No or very weak linear relationship.
- Close to 1: Strong positive linear relationship.

To interpret the correlations between the "Total" column and the encoded Pokémon type fields,
you can refer to the correlation values:

- POSITIVE CORRELATION:
Indicates that when the Pokémon type value increases, the "Total" value tends to increase as well.

- NEGATIVE CORRELATION:
Indicates that when the Pokémon type value increases, the "Total" value tends to decrease.

- CLOSE TO ZERO:
Indicates that there's little or no linear relationship between the Pokémon type and the "Total" value.

PLEASE NOTE THAT CORRELATION DOES NOT IMPLY CAUSATION.
A high correlation between two variables means that they tend to move together,
but it does not necessarily mean that one causes the other.

KATRINA J, Author.

**NOTE TO SELF** ***(for future reference)***

In pandas, both **`.corr()`** and **`.corrwith()`** methods are used to compute correlation, but they **serve different purposes**:

> **`.corr()`** <br>
This method is called on a DataFrame and **calculates the pairwise correlation between columns or rows** of the DataFrame. By default, it computes the correlation between columns **(axis=0)**.

If you want to compute the correlation between rows, you can set the axis parameter to 1. The method returns a correlation matrix with the correlation coefficients between each pair of columns or rows.

> **EXAMPLE :**

```python
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [2, 3, 4],
        'C': [3, 4, 5]}

df = pd.DataFrame(data)

correlation_matrix = df.corr()
print(correlation_matrix)
```

> **`corrwith()`**<br>
This method is called on a DataFrame and **calculates the correlation between its columns or rows** ***AND*** **another DataFrame**, **Series**, or **array**.

It is useful when you want to compute the correlation between the columns or rows of two different DataFrames or between the columns of a DataFrame and a Series.

> **EXAMPLE :**

```python
import pandas as pd

data1 = {'A': [1, 2, 3],
         'B': [2, 3, 4]}
data2 = {'C': [3, 4, 5],
         'D': [4, 5, 6]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# correlation between columns of df1 and columns of df2
correlation = df1.corrwith(df2)
print(correlation)

```

In [7]:
# your code here
print("NOOB VERSION WITH LOTS OF LINES (BUT AT LEAST SOMEHOW STRUCTURED)")

print("\n")
print("-" * 135)

# reuse combined_types data to isolate ENCODED fields, and join the TOTAL column from the pokemon data
combined_types["Total"] = pokemon["Total"]
display(combined_types.head())
print("JOIN TOTAL COLUMN TO THE ENCODED TYPES")

print("\n")
print("-" * 135)

# calculate correlation between TOTAL and ENCODED fields
# column TOTAL is dropped so we won't face issues when identifying the #1 Pokémon type
print("RESULTS OF (UNSORTED) CORRELATIONS (TOTAL COLUMN IS DROPPED FOR RANKING PURPOSES)")
correlations = combined_types.corr()["Total"].drop("Total")
display(correlations)

print("\n")
print("-" * 135)

# ranking correlations from highest to lowest
print("CORRELATIONS RANKED (HIGHEST TO LOWEST)")
ranked_correlations = correlations.sort_values(ascending=False).to_frame()
ranked_correlations = ranked_correlations
display(ranked_correlations)

print("\n")
print("-" * 135)

# identify #1 Pokémon type most likely to have the highest TOTAL
theBEAST = ranked_correlations["Total"].idxmax()
display(ranked_correlations.loc[ranked_correlations["Total"] == ranked_correlations["Total"].max()])
print(f"#1 POKEMON TYPE MOST LIKELY TO HAVE THE HIGHEST TOTAL IS {theBEAST}")

NOOB VERSION WITH LOTS OF LINES (BUT AT LEAST SOMEHOW STRUCTURED)


---------------------------------------------------------------------------------------------------------------------------------------

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,318
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,405
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,525
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,625
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,309

JOIN TOTAL COLUMN TO THE ENCODED TYPES


---------------------------------------------------------------------------------------------------------------------------------------
RESULTS OF (UNSORTED) CORRELATIONS (TOTAL COLUMN IS DROPPED FOR RANKING PURPOSES)

Bug        -0.145781
Dark        0.056154
Dragon      0.229705
Electric    0.020971
Fairy      -0.036698
Fighting    0.077786
Fire        0.078726
Flying      0.059383
Ghost       0.003641
Grass      -0.052592
Ground      0.015060
Ice         0.060248
Normal     -0.105331
Poison     -0.090441
Psychic     0.124688
Rock        0.032731
Steel       0.109703
Water      -0.021665
Name: Total, dtype: float64

---------------------------------------------------------------------------------------------------------------------------------------
CORRELATIONS RANKED (HIGHEST TO LOWEST)

             Total
Dragon    0.229705
Psychic   0.124688
Steel     0.109703
Fire      0.078726
Fighting  0.077786
Ice       0.060248
Flying    0.059383
Dark      0.056154
Rock      0.032731
Electric  0.020971
Ground    0.015060
Ghost     0.003641
Water    -0.021665
Fairy    -0.036698
Grass    -0.052592
Poison   -0.090441
Normal   -0.105331
Bug      -0.145781

---------------------------------------------------------------------------------------------------------------------------------------

           Total
Dragon  0.229705

#1 POKEMON TYPE MOST LIKELY TO HAVE THE HIGHEST TOTAL IS Dragon

In [8]:
# BONUS : BeastMode, the one-liner
print("BEAST MODE VERSION WITH ONE-LINER CODE BECAUSE WE'RE NOT LAZY, BUT EFFICIENT :P")
print("-" * 79 + "\n")

# make a copy of combined_types data first so we won't botch it
oneLiner = combined_types.copy()

# correlation + identified Pokemon
whosThatPOKEMON = oneLiner.corr()["Total"].drop("Total").sort_values(ascending=False).idxmax()

# see the magic
print(f"#1 POKEMON TYPE MOST LIKELY TO HAVE THE HIGHEST TOTAL IS {whosThatPOKEMON}")

BEAST MODE VERSION WITH ONE-LINER CODE BECAUSE WE'RE NOT LAZY, BUT EFFICIENT :P
-------------------------------------------------------------------------------

#1 POKEMON TYPE MOST LIKELY TO HAVE THE HIGHEST TOTAL IS Dragon

In [9]:
print("""
NOTE TO READERS :

When interpreting correlation results,
it's important to remember that correlation does not imply causation.

In other words,just because two variables are correlated,
it doesn't mean that one variable directly causes the other to change.

However, correlation can help identify potential relationships or patterns that warrant further investigation.

In the context of Pokémon data,
if two variables (e.g., "Total" and a specific Pokémon type) have a high positive correlation,
it means that the 'Total' value tends to be higher for Pokémon of that particular type.

Conversely, a high negative correlation would mean that the "Total" value tends to be lower for Pokémon of that type.
This information can be useful for identifying trends and patterns in the dataset,
but it does not necessarily indicate a causal relationship between the type and the "Total" value.
---------------------------------------------------------------------------------------------------------------------

Here are some possible theories that could be formulated based on the correlations in the Pokémon dataset:

1. UNDERLYING GAME MECHANICS:
It's possible that the game mechanics are designed in such a way,
that certain types of Pokémon are inherently stronger (having higher "Total" values),
or weaker (having lower "Total" values) than others.

This could be intentional to maintain game balance,
or it could be an unintended consequence of the game's design.

2. EVOLUTIONARY TRENDS:
Some Pokémon types might be more likely to have higher "Total" values,
because they typically evolve from weaker forms,
while others might have lower "Total" values,
because they do not evolve or have fewer evolutionary stages.

This could be an interesting pattern to explore further.

3. POPULARITY OR RARITY:
Certain Pokémon types might be more popular or rare,
leading game designers to assign them higher "Total" values,
to make them more appealing or valuable to players.

Alternatively, less popular or more common types might be assigned lower "Total" values,
to make them less desirable or easier to acquire.

4; CONFOUNDING FATCORS:
It's also possible that there are other variables in the dataset,
that influence both the Pokémon type and the "Total" value, creating a correlation between them.

In this case, further investigation would be needed to identify and account for these factors.

---------------------------------------------------------------------------------------------------------------------
While these theories can be informed by the correlations found in the dataset,
it's important to conduct additional research, collect more data,
or perform experiments to test the validity of these theories,
and determine whether there is a true causal relationship between the variables.

KATRINA J, Author.
""")

NOTE TO READERS :

When interpreting correlation results,
it's important to remember that correlation does not imply causation.

In other words,just because two variables are correlated,
it doesn't mean that one variable directly causes the other to change.

However, correlation can help identify potential relationships or patterns that warrant further investigation.

In the context of Pokémon data,
if two variables (e.g., "Total" and a specific Pokémon type) have a high positive correlation,
it means that the 'Total' value tends to be higher for Pokémon of that particular type.

Conversely, a high negative correlation would mean that the "Total" value tends to be lower for Pokémon of that type.
This information can be useful for identifying trends and patterns in the dataset,
but it does not necessarily indicate a causal relationship between the type and the "Total" value.
---------------------------------------------------------------------------------------------------------------------

Here are some possible theories that could be formulated based on the correlations in the Pokémon dataset:

1. UNDERLYING GAME MECHANICS:
It's possible that the game mechanics are designed in such a way,
that certain types of Pokémon are inherently stronger (having higher "Total" values),
or weaker (having lower "Total" values) than others.

This could be intentional to maintain game balance,
or it could be an unintended consequence of the game's design.

2. EVOLUTIONARY TRENDS:
Some Pokémon types might be more likely to have higher "Total" values,
because they typically evolve from weaker forms,
while others might have lower "Total" values,
because they do not evolve or have fewer evolutionary stages.

This could be an interesting pattern to explore further.

3. POPULARITY OR RARITY:
Certain Pokémon types might be more popular or rare,
leading game designers to assign them higher "Total" values,
to make them more appealing or valuable to players.

Alternatively, less popular or more common types might be assigned lower "Total" values,
to make them less desirable or easier to acquire.

4; CONFOUNDING FATCORS:
It's also possible that there are other variables in the dataset,
that influence both the Pokémon type and the "Total" value, creating a correlation between them.

In this case, further investigation would be needed to identify and account for these factors.

---------------------------------------------------------------------------------------------------------------------
While these theories can be informed by the correlations found in the dataset,
it's important to conduct additional research, collect more data,
or perform experiments to test the validity of these theories,
and determine whether there is a true causal relationship between the variables.

KATRINA J, Author.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [10]:
print("""
To determine the best combination of Type 1 and Type 2 for a Pokémon,
we can analyze the correlations between the encoded type fields and the "Total" column,
which we calculated earlier.

However, this approach considers only the individual correlation of each type with the "Total" column,
and does not take into account potential interactions between the two types.

A more accurate approach would be to examine the average "Total" values for each unique combination of Type 1 and Type 2 in the dataset.
""")

To determine the best combination of Type 1 and Type 2 for a Pokémon,
we can analyze the correlations between the encoded type fields and the "Total" column,
which we calculated earlier.

However, this approach considers only the individual correlation of each type with the "Total" column,
and does not take into account potential interactions between the two types.

A more accurate approach would be to examine the average "Total" values for each unique combination of Type 1 and Type 2 in the dataset.

In [11]:
# your code here
print("NOOB VERSION WITH LOTS OF LINES (BUT AT LEAST SOMEHOW STRUCTURED) :\n")

TypesGroupedBy = pokemon.groupby(["Type 1", "Type 2"]).mean(numeric_only=True)["Total"]
BestCombo = TypesGroupedBy.idxmax()
MaxTotal = TypesGroupedBy.max()

print(f"The best combination of Type 1 and Type 2 is {BestCombo} with an average Total of {MaxTotal}")

NOOB VERSION WITH LOTS OF LINES (BUT AT LEAST SOMEHOW STRUCTURED) :

The best combination of Type 1 and Type 2 is ('Ground', 'Fire') with an average Total of 770.0

In [12]:
# BONUS : BeastMode, the one-liner
print("BEAST MODE VERSION WITH ONE-LINER CODE BECAUSE WE'RE NOT LAZY, BUT EFFICIENT :P")
print("-" * 79 + "\n")

THEPokemon = pokemon.groupby(["Type 1", "Type 2"]).mean(numeric_only=True)["Total"].sort_values(ascending=False).head(1).to_frame()
THEPokemon

BEAST MODE VERSION WITH ONE-LINER CODE BECAUSE WE'RE NOT LAZY, BUT EFFICIENT :P
-------------------------------------------------------------------------------

               Total
Type 1 Type 2
Ground Fire    770.0